<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barry.designer">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogApp" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuiderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShouYeActivity"
            android:label="@string/title_activity_shou_ye"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResigerActivity"
            android:label="@string/title_activity_resiger"
            android:theme="@style/DialogApp" />
        <activity android:name=".UserActivity" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionDetailActivity"
            android:label="@string/title_activity_question_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
